
div{
    margin: 10px;
}
h1 {
    background-color: rgb(102, 104, 7);
    padding: 20px;
    color: white;
    text-align: center;
}
footer {
    position: fixed;
    font-style: oblique;
    bottom: 0;
    width: 100%;
    font-size: 13px;
    text-align: center;
    background-color: rgb(102, 104, 7);
    padding: 10px;
    color: black;
  }

p {
    margin: 10px;
}   
li {
    padding-top: 20px;
    padding-right: 10px;
}