<div class="main">
  <h1>Blog Application</h1>
  <div>
    <ul ngbNav #nav="ngbNav" class="nav-tabs">
      <li [ngbNavItem]="1">
        <a routerLink="/articles" routerLinkActive="active" class="btn-light btn-sm" ngbNavLink>Articles</a>`

      </li>
      <li [ngbNavItem]="2">
        <a routerLink="/add-article" routerLinkActive="active" class="btn-light btn-sm" ngbNavLink>Add Article</a>

      </li>
      <li [ngbNavItem]="3">
        <a routerLink="/edit-article" routerLinkActive="active" class="btn-light btn-sm" ngbNavLink>Edit Article</a>

      </li>
    </ul>

    <div [ngbNavOutlet]="nav" class="mt-2"></div>
  </div>

  <router-outlet></router-outlet>
</div>

<footer>
  <p>A basic blog app using Angular - Albert Felix</p>
</footer>